body {
    background-color: #1d1d1d;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.mainHeading{
    letter-spacing: 2px;
    text-transform: uppercase;
}

.subHeading{
    font-size: 20px;
    letter-spacing: 1px;
}